body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 120%;
  }
  
  .sunrise {
    background-image: url('https://www.itl.cat/pngfile/big/28-285625_timeline-sunrise-cool.jpg');
  }

  .sunset {
    background-image: url('https://www.itl.cat/pngfile/big/248-2488050_high-resolution-images-sunrise.jpg');
  }

  .night {
    background-image: url('https://www.itl.cat/pngfile/big/3-36846_night-sky-above-the-clouds-wallpaper-night-sky.jpg');
  }

  .rain {
    background-image: url('https://www.itl.cat/pngfile/big/258-2586529_photo-wallpaper-road-drops-rain-haze-rainy-day.jpg');
  }

  .card {
    color: white;
    padding: 2em;
    width: 100%;
    max-width: 768px;
    margin: 1em;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #0000002b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #0000002b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }

  ::placeholder {
    color: white;
  }
  
  button:hover {
    background: #7c7c7c6b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
    font-size: 4em;
  }

  h1.city {
    font-size: 6em;
    margin: 0;
  }

  p.time {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid;
    max-width: 50%;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .weather-details-card {
    background: #0000002b;
    padding: 1em;
    border-radius: 10px;
    max-width: 50%;
  }

  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }